<div class="modal-body row">
  <div class="col-sm-12 col-md-12 col-lg-12 px-5" style="padding-left: 30px" id="userDetails">
    <form action="" [formGroup]="portfolioForm" (ngSubmit)="OnSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <label class="my-2"> Employee name</label>
            <input type="text" class="form-control" placeholder="Enter Empolyee Name" formControlName="name" [ngClass]="{
                'is-invalid': submitted && f['name'].errors,
                'is-valid': submitted && f['name']
              }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">
                Employee Name is required
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <label class="my-2"> Employee Department</label>
            <input type="text" class="form-control" placeholder="Enter Department Name" formControlName="department"
              [ngClass]="{
                'is-invalid': submitted && f['department'].errors,
                'is-valid': submitted && f['department']
              }" />
            <div *ngIf="submitted && f['department'].errors" class="invalid-feedback">
              <div *ngIf="f['department'].errors['required']">
                Employee Department is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <label class="my-2">Designation</label>
            <input type="text" class="form-control" placeholder="Enter Designation" formControlName="designation"
              [ngClass]="{
                'is-invalid': submitted && f['designation'].errors,
                'is-valid': submitted && f['designation']
              }" />
            <div *ngIf="submitted && f['designation'].errors" class="invalid-feedback">
              <div *ngIf="f['designation'].errors['required']">URL is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group my-2">
        <div class="row">
          <label class="my-2 p-0">Contact Number</label>
          <input type="text" class="form-control" placeholder="Enter contact Number" formControlName="contactNum"
            [ngClass]="{
              'is-invalid': submitted && f['contactNum'].errors,
              'is-valid': submitted && f['contactNum']
            }" />

          <div *ngIf="submitted && f['contactNum'].errors" class="invalid-feedback">
            <div *ngIf="f['contactNum'].errors['required']">
              Contact Number is required
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: right">
        <button type="submit" class="btn app-btn-primary theme-btn mx-auto py-2 px-4">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
