.register-btn {
  margin: 18px auto 30px;
  border-radius: 54px;
  font-weight: 700;
  background: #ffc500;
  padding: 6px;
  width: 250px;
  height: 48px;
}
.fa-lock:before {
  content: "\f023";
  border-radius: 50%;
  color: #0a0a0a;
  background: #ffc500;
  font-size: 28px;
  padding: 14px;
}
label,
p {
  font-size: 13.5px;
  color: #7f7f7f;
}
h4 {
  font-size: 14.5px;
  color: #7f7f7f;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .reg-form {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .reg-form {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .reg-form {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .reg-form {
    width: 650px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .reg-form {
    width: 650px;
  }
}
.register-btn {
  margin: 18px auto 30px;
  border-radius: 54px;
  font-weight: 700;
  background: #ffc500;
  padding: 6px;
  width: 250px;
  height: 48px;
}
.fa-lock:before {
  content: "\f023";
  border-radius: 50%;
  color: #0a0a0a;
  background: #ffc500;
  font-size: 28px;
  padding: 14px;
}
label {
  font-size: 13.5px;
  color: #7f7f7f;
}
h4 {
  font-size: 14.5px;
  color: #7f7f7f;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .reg-form {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .reg-form {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .reg-form {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .reg-form {
    width: 650px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .reg-form {
    width: 650px;
  }
}
